/* Здесь пишем стили */
/* https://coolors.co/ffe169-fad643-edc531-dbb42c-c9a227-b69121-a47e1b-926c15-805b10-76520e палитра для body*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Helvetica,sans-serif;
  max-height: 100%;

  background-color: #deeea5;
  background-image: url('images/palm.png');
  background-repeat: repeat-x;
  background-position: top;
  
}

form {
  width: 580px;
  height: 700px;
  font-size: 25px;
  margin: 0;
  margin-top: 30%;
  margin-left: 12px;
}

form .question {
  margin-bottom: -10px;
}

form input::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -5px;
  margin-left: -5px;
  background-color: #b8df9f;
  border: 2px solid #304422;
  border-radius: 50%;
} 

form input:hover::before {
  background-color: #0d251a;
}

form label {
  margin-left: 30px;
}

form input[type="button"] {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-left: 34%;
  margin-top: 5%;
  border: none;
  color: rgb(214, 207, 138);

  background-color: #616438;
}

.quize {
  width: 530px;
  height: 500px;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 28%;
  border: 1px solid #0d251a;
  border-radius: 15%;
  box-shadow: 0 0 40px #797838;

  background-color: #a8b45f;
}

.quize .greeting h1 {
  display: none;
  position: relative;
  text-align: center;
  padding: 20px;
  color: #31250d;
}

.quize .greeting p {
  display: none;
  font-size: 25px;
  padding: 20px;
  color: #31250d;
}

.continue {
  display: none;
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 210px;
  margin-top: 30px;
  border: none;

  background-color: #50482a;
}

.continue:hover, form input[type="button"]:hover {
  box-shadow: 0 0 7px #50482a;
}

.continue a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(214, 207, 138);
}

.jesus {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 100px;
  top: 100px;
}

.back {
  position: absolute;
  left: 61%;
  top: 90%;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10%;

  background-color: #53572d;
}

.back a {
  font-size: 18px;
  color: #161b10;
  text-decoration: none;
}

.back:hover {
  box-shadow: 0 0 10px #062208;
}

