* {
  box-sizing: border-box;
}

body {
  max-height: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background-color: #deeea5;
  background-image: url("images/palm.png");
  background-repeat: repeat-x;
  background-position: top;
}

form {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 25px;
}

form .question {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 10%;
  text-align: center;

  color: #414135;
}

form input[type="radio"] {
  display: none;
}

form label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;

  color: #323229;
}

form label::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 17px;
  height: 18px;
  left: 0;
  bottom: 1px;

  background-color: #9da364;
  border-radius: 50%;
}

form input[type="radio"]:checked + label:before {
  background-color: #636451;
}

form label:hover:before {
  background-color: #636451;
}

.buttons {
  display: flex;
}

form input[type="button"] {
  width: 25%;
  height: 10%;
  position: absolute;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  border: none;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;

  color: rgb(228, 226, 211);
  background-color: #636451;
  border-radius: 5%;
}

.continue:hover,
form input[type="button"]:hover {
  cursor: pointer;

  border: 4px solid #9da364;
}

.quize {
  width: 530px;
  height: 500px;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  top: 28%;

  background-color: #e2e9bb;
  box-shadow: 0 0 10px #4e4d3d;
  border-radius: 10%;
}

.quize .greeting {
  display: block;
}

.quize .greeting h1 {
  position: relative;
  padding: 20px;
  text-align: center;

  color: #414135;
}

.quize .greeting p {
  padding: 20px;
  font-size: 25px;

  color: #414135;
}

.continue {
  display: block;
  position: relative;
  width: 25%;
  height: 10%;
  margin-left: 36%;
  margin-top: 10%;
  margin-right: 36%;

  background-color: #696556;
  border: none;
}

.continue:hover {
  border: none;
}

.continue a {
  font-size: 20px;
  text-decoration: none;

  color: rgb(227, 225, 205);
}

.jesus {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 100px;
  top: 100px;
}

.back {
  display: "none";
  position: absolute;
  width: 25%;
  height: 10%;
  margin-left: 125px;
  margin-top: 50px;
  margin-right: auto;

  background-color: #9da364;
  border: none;
  border-radius: 5%;
}

.back a {
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;

  color: rgb(228, 226, 211);
}

.back:hover {
  cursor: pointer;

  border: 4px solid #636451;
}

.radioContainer {
  margin-left: 10%;
}

.end {
  display: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  text-align: center;

  color: #414135;
}
